/* webfonts */

@font-face {
    font-family: 'latobold';
    src: url("../fonts/lato-bold-webfont.woff2") format('woff2'), url("../fonts/lato-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latobold_italic';
    src: url("../fonts/lato-bolditalic-webfont.woff2") format('woff2'), url("../fonts/lato-bolditalic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latoheavy';
    src: url("../fonts/lato-heavy-webfont.woff2") format('woff2'), url("../fonts/lato-heavy-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latolight';
    src: url("../fonts/lato-light-webfont.woff2") format('woff2'), url("../fonts/lato-light-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latomedium';
    src: url("../fonts/lato-medium-webfont.woff2") format('woff2'), url("../fonts/lato-medium-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latoregular';
    src: url("../fonts/lato-regular-webfont.woff2") format('woff2'), url("../fonts/lato-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latobold';
    src: url("../fonts/lato-bold-webfont.woff2") format('woff2'), url("../fonts/lato-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latobold_italic';
    src: url("../fonts/lato-bolditalic-webfont.woff2") format('woff2'), url("../fonts/lato-bolditalic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latoheavy';
    src: url("../fonts/lato-heavy-webfont.woff2") format('woff2'), url("../fonts/lato-heavy-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latolight';
    src: url("../fonts/lato-light-webfont.woff2") format('woff2'), url("../fonts/lato-light-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

@font-face {
    font-family: 'latomedium';
    src: url("../fonts/lato-medium-webfont.woff2") format('woff2'), url("../fonts/lato-medium-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-00FE;
    font-display: swap;

}

:root {
    --color-encabezadoTop: #626262;
    --color-text-primarynav: #ffffff;
    --color-texto-contenido: #001719;
    --color-texto-encabezado: #2a2a2a;
    --color-texto-pie: #016971;
    --color-textSec-pie: #8dcbcf;
    --color-titulos-pagina: #002E33;
    --color-titulo-colaborador: #009CAD;
    --color-subtitulos-gral: #535353;
    --font-titulos-pagina: "latobold", Arial, Helvetica, sans-serif;
    --font-titulos-blog-main: "latomedium", Arial, Helvetica, sans-serif;
    --color-body: #F5FFFF;
    --color-texto-verde: #006972;
    --color-naranja: #DE761A;
    --color-texto-gral: #1F1F1F;
    --color-menu-secundario: #DDFCFC;
    --color-bloq: #E2FEFF;
    --color-verde:#84CC15;

}

* {
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 16px;
    text-rendering: auto;
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    font-family: "latoregular", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--color-body);
    color: var(--color-texto-gral);
}

/* Main content */

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

/* comienza header */

header {
	position: sticky;
	top: 0;
}


.enlace-sdi span,
.redes-sociales span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}
.redes-sociales a {
    text-decoration: none;
    color: var(--color-encabezadoTop);
}

.redes-sociales a:nth-last-child(-n+2) {
    padding-left: 20px;
}
.redes-sociales a:nth-child(7) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.encabezado-top {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 50px;
    background-color: #E0E0E0;
    flex-wrap: wrap;
}
.logoUNAM img {
    height: 80px;

}
.encabezado-bottom {
    background-color: #157D8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logoCOUS img {
    max-width: 100%;
    height: 80px;
}

.logos {
    background-color: #fff;
    padding: 15px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logoUNAM {
    margin-right: 40px;
}
.contenido-pie .redes-sociales a:hover,
.redes-sociales a:hover {
    color: #157D8F;
    transition: all 0.2s ease;
}
.redes-sociales a > i {
    margin: 10px;
}

.encabezado-bottom .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bfc1bf;
    margin: 0;
    padding: 5px;
    flex-wrap: wrap;
}
.encabezado-bottom .menu li {
    list-style: none;
    text-transform: uppercase;
    margin: 5px;
}
.encabezado-bottom .menu li a {
    text-decoration: none;
    color: var(--color-texto-encabezado);
}

/* menú navegación */

.primary-navigation {
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.dropdown::before {
    content: "";
    height: 30px;
    position: absolute;
    width: 100%;
    top: -30px;
}
nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
}

.primary-navigation a:nth-child(2) {
    padding: 0 60px;
    color: var(--color-text-primarynav);
}

nav.primary-navigation :first-child ul li a {
    color: #000000;
    white-space: nowrap;
}
nav.primary-navigation li a {
    color: var(--color-text-primarynav);
}
nav.primary-navigation li a:hover {
    color: #B7003F;
}

nav.primary-navigation li .item:hover {
    color: white;
}
nav.primary-navigation li:hover {
    cursor: pointer;
}
nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}
nav.primary-navigation ul li ul:hover,
nav.primary-navigation ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    box-shadow: 1px 1px 11px -3px #a4a4a4;
    padding-top: 50px;
    margin-top: 30px;
    border-radius: 10px;
}
nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 7px solid #B7003F;
    transition: all 0.2s ease;
    color: #B7003F;
}
a {
    text-decoration: none;
}
ul li ul li a {
    transition: all 0.5s ease;
}

/* PUBLICACIONES */
.container-publicaciones {

    width: 90%;
    margin: 0 auto;

}
.container-publicaciones img {
    width: 100%;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.lista-item {
    display: flex;
    width: 100%;
}

.lista-content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
}
.lista-content p {
    flex: 1 0 auto;
}

/* Qué es la COUS */

.contendedor-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contendedor-secundario h1 {
    color: var(--color-texto-verde);
    margin: 50px 0 auto;
    text-align: center;
}

.menu-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDFCFC;
    width: 100%;
}

.menu-secundario ul {
    display: flex;
    margin: 10px;
    padding: 0;
    border-top: 2px solid var(--color-naranja);
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-secundario ul li {
    margin: 20px;
    list-style: none;
}
.menu-secundario ul li a {
    color: var(--color-texto-verde);
    padding: 5px 20px;

}

.menu-secundario ul li a:hover {
    background-color: var(--color-texto-verde);
    color: var(--color-text-primarynav);
    padding: 5px 20px;
    border-radius: 30px;

}

.contenedor-info {
	display: flex;
	max-width: 1200px;
	padding: 40px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contenedor-info .info {
    flex: 1;
    padding: 20px;
}

.contenedor-info h2 {
    color: var(--color-texto-contenido);
    margin: 0;
}

.contenedor-info img {
    border-radius: 15px;
    max-width: 100%;
}

.contenedor-info.us h2 {
	font-size: 3em;
    font-family: 'latobold', Arial, Helvetica, sans-serif;
}

/* programa de trabajo */

.contenedor-info.programa-trabajo {
	flex-direction: column;
	width: 100%;
	padding: 0;
	max-width: 100%;
}

.info.pt h2,
.info.pt h3 {
    text-align: center;
}

.programa-trabajo .info {
    padding: 0;
}

.bloq-info {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bloq-info p {
	max-width: 800px;
}

.bloq {
	padding: 40px;
}

.bloq2 img {
    max-width: 100%;
    padding: 20px;
}

.bloq2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.bloq1, .bloq3 {
    background-color: var(--color-bloq);
    width: 100%;
}

.card-list, .card-list2 {
	display: flex;
	max-width: 1200px;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	padding: 20px;
	background-color: var(--color-body);
	margin: 80px 20px;
	width: 28.3%;
	box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
	position: relative;
	display: flex;
	justify-content: center;
	min-width: 220px;
	border-radius: 0 0 10px 10px;
}
.card-list2 .card {
	width: 28.3%;
	min-width: 350px;
}

.card-titulo {
	position: absolute;
	top: -24px;
	background-color: #00BEBE;
	color: white;
	padding: 10px;
	border-radius: 0 0 10px 10px;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	left: 0;
	right: 0;
	width: 90%;
	margin: auto;
}

.btn-descarga{
        background:var(--color-texto-verde);
        padding: 10px;
        border-radius: 30px;
        color: var(--color-text-primarynav);
        font-weight: bold;
        margin: 20px;
}

/* footer */
.number {
    position: absolute;
    top: -96px;
    height: 90px;
    width: 90px;
    background-color: var(--color-naranja);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 180px;
    font-size: 2em;
    color: white;
    font-family: "latoheavy",Arial, Helvetica, sans-serif;
}

.contenido-pie {
    background-color: #E5FFFC;
    color: var(--color-texto-pie);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.pie-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.enlaces ul li {
    list-style: none;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.enlaces ul li a {
    color: var(--color-texto-pie);
}
.enlaces ul {
    padding: 0;
    margin: 0;
}
.pie-middle {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color-texto-pie);
}

.container__form .form__field {
    padding: 10px;
    min-width: 220px;
    border: 1px solid var(--color-texto-pie);
}
.container__form button {
    height: 100%;
    color: white;
    background-color: #416788;
    padding: 10px;
    margin-left: -5px;
    border: 1px solid #416788;
}
.container__form p {
    text-transform: uppercase;
}

.leyenda {
    display: flex;
    flex: 1;
    background: #00949F;
    align-items: center;
    padding: 20px;
    min-width: 40%;
    font-size: 0.8em;
    color: #ffffff;
    width: 100%;
    justify-content: center;
}
.leyenda p {

    max-width: 1200px;
}

.contenido-pie .redes-sociales a {
    color: var(--color-texto-pie);
}
.enlace-sdi img {
    height: 50px;
}

/* MARCO NORMATIVO */

.contenedor-info.marco-normativo {
	max-width: 100%;
	padding: 0;
}

.marco-normativo .bloq.bloq1 {
	background-color: var(--color-titulo-colaborador);
}
.marco-normativo h1 {
	margin-bottom: 30px;
}


.marco-normativo h2 {
	text-align: center;
    color: var(--color-menu-secundario);
}

.marco-normativo article:nth-child(3) h2 {
	text-align: center;
	color:var(--color-texto-verde);
}

.marco-normativo .bloq-info.inter a{
    color: var(--color-bloq);
}

.ambito {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.marco-normativo .bloq-info {
	flex-basis: 40%;
	background-color: var(--color-menu-secundario);
	padding: 40px;
	display: flex;
	align-items: flex-start;
	margin: 20px;
    border-bottom: 10px solid var(--color-verde)
}

.marco-normativo .bloq-info.inter {
	background-color: var(--color-titulo-colaborador);
    color: var(--color-menu-secundario);
    border-bottom: 10px solid var(--color-naranja);
}


/* FUNCIONES */

.bloq1.funcion1 h2 {
	border-bottom: 5px solid var(--color-naranja);
}

.bloq1.funcion2 h2 {
	border-bottom: 5px solid var(--color-titulo-colaborador);
}
.bloq1.funcion3 h2 {
	border-bottom: 5px solid var(--color-verde);
}
.funciones .contendedor-secundario .contenedor-info {
	max-width: 100%;
}

.funciones .contendedor-secundario .bloq1, .bloq3 {
	background-color: var(--color-text-primarynav);
	width: 100%;
	margin-top: 60px;
}

  .funciones .contenedor-info h2 {
	color: var(--color-texto-contenido);
	margin: auto;
	text-align: center;
	width: 500px;
}

.funciones .bloques {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px;
}

.funciones .bloq-info {
	flex-basis: 29%;
	padding: 40px;
	margin: 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


h1{
    font-size: 2em;
}


/* Responsive */

@media only screen and (max-width: 540px) {

    .encabezado-top {
        padding: 10px 0;
    }
    .redes-sociales {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .redes-sociales {
        margin: 5px auto;
    }

}
/* @media only screen and (max-width: 350px) {

    .zona-creditos span a {
        margin: 0;
    }
}

@media all and (min-width: 40em) {
    .lista-item {
        width: 50%;
    }
}
*/
@media all and (min-width: 60em) {
    .lista-item {
        width: 33.33%;
    }
}
